h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-align: center;
  color: white;
  padding-top: 85px;
}

#topSection {
  margin-top: 100px;
}

#intro {
  color: black;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 4rem;
  line-height: 100%;
  height: 300px;
}

.labelBar {
  background: deepskyblue;
  width: 101.2%;
  height: 21.5rem;
  margin-bottom: 50px;
}

.bio {
  color: #777777;
  line-height: 200%;
  font-size: 17px;
}

.skills {
  font-size: 38px;
  line-height: 100%;
  font-weight: 400;
}

.titleSkills {
  font-size: 2.5rem;
  line-height: 100%;
}

.skillIconsTitle {
  text-align: center;
  margin: 50px 0 -10px;
}

.skillsIcons {
  /* color:deepskyblue; 
  margin: 40px 40px 0px; 
  font-size: 70px; */
  margin: 40px 20px 0px; 
  max-height: 70px
}

.skillsIconP {
  font-size: 20px; 
  margin-top: 0px; 
  font-family: Roboto;
}

.noIconP {
  font-size: 22px;
  margin-top: 0px; 
  font-family: Roboto;
}

.margBot {
  margin-bottom: 130px;
}

@media screen and (max-width: 991px) {
  #topSection {
    margin-top: 138px
  }
}

@media screen and (max-width: 799px) {
  .skills {
    font-size: 3rem;
  }
}

@media screen and (max-width: 559px) {
  #about {
    margin-top: 60px;
  }

}