#sticky {
  background: rgba(255, 255, 255, .95);
  padding: 10px 0;
  font-size: 1.65rem;
  position: fixed;
  top: 0;
  z-index: 2;
  /* width: 100% */
}

.toptext {
  float: left;
  margin: 5px 0 0 20px;
}

#bioPic {
  height: 5.5rem;
  float: left;
  border-radius: 4.5rem;
}

.gray {
  color: #aaa;
  transition: color 1s;
}